:root {
    --black: #000;
    --grey1: #f4f8fb;
    --grey2: #e6e7e8;
    --grey3: #edeef0;
    --grey4: #d8dde6;
    --grey5: #c2cbd2;
    --grey6: #9b9b9b;
    --grey7: #4a4a4a; 
    --red: #ed1d24;
    --white: #fff;
    body {
        background-color: var(--grey1);
        font-family: Roboto, sans-serif;
    }
}
@media (min-width:1280px) {
    :root {
        body {
            .container {
                margin: 0 auto;
                max-width: 1440px;
            }
        }
    }
}